@page "/Samples/TabDemo"

<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact</div>
</div>

<hr />

<ul class="nav nav-tabs">
    <li class="nav-item" @onclick="() => TabClicked(1)">
        <button class="nav-link @tab1Active">Home</button>
    </li>
    <li class="nav-item" @onclick="() => TabClicked(2)">
        <button class="nav-link @tab2Active">Profile</button>
    </li>
    <li class="nav-item" @onclick="() => TabClicked(3)">
        <button class="nav-link @tab3Active">Contact</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade @tabPane1">Home</div>
    <div class="tab-pane fade @tabPane2">Profile</div>
    <div class="tab-pane fade @tabPane3">Contact</div>
</div>

@code {
    string tab1Active = "active";
    string tab2Active = "";
    string tab3Active = "";

    string tabPane1 = "show active";
    string tabPane2 = "";
    string tabPane3 = "";

    public void TabClicked(int tabId)
    {
        tab1Active = "";
        tab2Active = "";
        tab3Active = "";

        tabPane1 = "";
        tabPane2 = "";
        tabPane3 = "";

        if(tabId == 3)
        {
            tab3Active = "active";
            tabPane3 = "show active";
        }
        else if (tabId == 2)
        {
            tab2Active = "active";
            tabPane2 = "show active";
        }
        else
        {
            tab1Active = "active";
            tabPane1 = "show active";
        }
    }
}